.astro-header{
    padding-left: 10vw;
    padding-top: 4vh;
    font-size: 2rem;
    font-family: lobster;
}

.astro-underline{
    margin-left: 13vw;
} 

.astro-body{

    gap: 2vw;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.astro-body-img{
    cursor: pointer;
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.astro-body-img:hover{
    animation: zoom 1s forwards;

}

@keyframes zoom {

    0%{
        transform: scale(1);
        opacity: 0.9;
    }

    50%{
        transform: scale(.9);
        opacity: 1;
    }

    100%{
        transform: scale();
        opacity: 0.9;
    }
    
    
}

.astro-container{
    background-color: #e0f7dc;
    padding-bottom: 20px;
}



.astro-body-txt{
    cursor: pointer;
    text-align: center;
    font-family: lobster;
    font-size: 1rem;
}

.astro-body-txt-wt{
    /* background: rgba(0, 0, 0, 0.6); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-family: lobster;
    font-size: 1.5rem;
    color: aliceblue;
}

.astro-body-img-wt{
    filter: blur(1.5px);
    display: block;
    cursor: pointer;
    width: 160px;
    height: 100px;
    border-radius: 10px;
    
}

.astro-body-img-wt:hover{
    animation: zoom 1s forwards;
}


.img-container{
    /* padding-bottom: 25px; */
    position: relative;
    width: 160px;     /* SAME as image width */
    height: 100px;    /* SAME as image height */
    
}
