.astro-header{
    padding-left: 3vw;
    padding-top: 4vh;
    font-size: 2rem;
    font-family: lobster;
}

.astro-underline{
    margin-left: 5vw;
} 

.astro-body{

    gap: 2vw;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.astro-body-img{
    cursor: pointer;
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.astro-body-img:hover{
    animation: zoom 2s infinite;

}

@keyframes zoom {

    0%{
        transform: scale(1);
        opacity: 0.6;
    }

    50%{
        transform: scale(1.1);
        opacity: 1;
    }

    100%{
        transform: scale(1);
        opacity: 0.6;
    }
    
    
}

/* @keyframes zoom {
    
    from {
    transform: scale(1);
    opacity: 0.85;
    }

    to {
    transform: scale(1.3);
    opacity: 1;
    }
} */


.astro-body-txt{
    cursor: pointer;
    text-align: center;
    font-family: lobster;
    font-size: 1rem;
}

.astro-body-txt-wt{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-family: lobster;
    font-size: 1.5rem;
    color: aliceblue;
}

.astro-body-img-wt{
    
    width: 100%;
    display: block;
    cursor: pointer;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    
}

.img-container{
    /* padding-bottom: 25px; */
    position: relative;
    width: 200px;     /* SAME as image width */
    height: 120px;    /* SAME as image height */
    
}
