.headerDiv{
    position: fixed;
    z-index: 1001;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: #2E2F5E;
    /* padding: 10px; */
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.logo{
    /* padding-top: 0px; */
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.logo img {
    padding-left: 10vw;
    padding-top: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    
    
}

.logo-text{
    line-height: 1.4;
    overflow: visible; /* important */
    font-size: 1.9rem;
    font-weight:600;
    cursor: pointer;
    color: rgb(255, 247, 1);
    font-family: "lobster", cursive;
    text-shadow: 5px 5px 3px black; 
}

.logo-text:hover{
    text-shadow: 6px 6px 3px rgb(12, 12, 12)
}

.hamburger-menu {

    padding-right: 5vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hamburger-menu span {
    width: 25px;
    height: 2px;
    background: white;
}

.user-icon-and-hamburger{
    /* padding-top: 30px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.user-icon-and-hamburger i{
    cursor: pointer;
    font-size: 25px;
    padding-right: 10px;
    
    

}

.user-icon-and-hamburge i:hover{
    .user-icon-and-hamburge i:hover {
    transform: scale(1.2);
    text-shadow: -1px 2px 2px rgb(255, 230, 0);
}
    

}


.button-32 {
    background-color: #fffffd;
    border-radius: 4px;
    color: #000a02;
    cursor: pointer;
    font-weight: bold;
    /* padding: 10px 15px; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: 200ms;
    width: 60px;
    height: 25px;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}







@media screen and (max-width:510px) {
    .logo-text {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: visible;
    }
}





