.wedding-heading-txt{
    padding-left: 10vw;
    padding-top: 4vh;
    font-size: 2rem;
    font-family: lobster;
}

.wedding-heading-underline{
    margin-left: 13vw;
} 

.wedding-body{
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 50px;


    /* padding-left: 4vw; */
}
