*{
  margin: 0;
  padding: 0;
  gap: 0;
}

.modal-overlay {
  z-index: 1010;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 23, 21, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-box {

  background: rgb(245, 248, 246);
  padding: 25px;
  width: 410px;
  /* height: 300px; */
  border-radius: 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: popup 0.3s ease;
}
.modal-box input {
  background-color: #8d8eaf;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}

.modal-box label {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  font-size: .9rem;
  
}

.modal-box p {
  padding: 10px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}


.modal-box h2{
  font-family: "Pacifico", cursive;;
  text-decoration: underline;
  color: #2e2f5e;
}

.modal-box h3{
  padding-bottom: 7px;
  font-family: "Pacifico", cursive;;
}
  

.login-btn {
  padding: 10px;
  background: #2e2f5e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.username{
  background-color: #8d8eaf;
  /* background-color: #baebbf; */
  border-radius: 10px;
}

.modal-box i {
  padding-left: 10px;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.hamburger-main-window{
  position: fixed;
  width: 100%;
  background: rgba(22, 23, 21, 0.6);
  

}

.hamburger-menu-window{
  z-index: 1010;
  position: fixed;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: rgb(249, 247, 247);
  animation: slide-l 1s ease-in-out;

}

@keyframes slide-l{

  0%{
    transform: translate(-200px,0);

  }

  100%{
        transform: translate(0,0);
  }
}


.hm-heading{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 1.07rem;
    font-weight: 600;
    color: rgb(67, 64, 64);
}

.hm-body{
  cursor: pointer;
  color: #2b2b28;
  margin-top: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 40px;
}

.close-btn-1{
  cursor: pointer;
  position: absolute;
  top: 21px;
  left: 88%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: rgb(0, 6, 11);

}

.hm-body i{
  font-size: 1.3rem;
  cursor: pointer;


}

.hb-headings{

  padding-left: 10px;
}
