*{
  margin: 0;
  padding: 0;
  gap: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 23, 21, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-box {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: popup 0.3s ease;
}
.modal-box input {
  padding: 10px;
  font-size: 1rem;
}

.login-btn {
  padding: 10px;
  background: #2e2f5e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.hamburger-main-window{
  position: fixed;
  width: 100%;
  background: rgba(22, 23, 21, 0.6);
  

}

.hamburger-menu-window{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: rgb(249, 247, 247);
  animation: slide-l 1s ease-in-out;

}

@keyframes slide-l{

  0%{
    transform: translate(-200px,0);

  }

  100%{
        transform: translate(0,0);
  }
}


.hm-heading{
  padding-top: 15px;
    padding-left: 10px;
    font-size: 1.07rem;
    font-weight: 600;
    color: black;
}

.hm-body{
  color: #040527;
  margin-top: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 40px;
}

.close-btn-1{
  cursor: pointer;
  position: absolute;
  top: 21px;
  left: 88%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: rgb(0, 6, 11);

}

.hm-body i{
  font-size: 1.3rem;


}
