.gemstone-banner-div img{
width: 100%;
cursor: pointer;
padding-top: 72px;
padding-bottom: 25px;
}



.gemstone-about{  
    display: flex;
    justify-content: space-around;
    /* margin-right: 400px;
    margin-left: 400px; */
    margin-bottom: 40px;
    gap: 20px;

}

.gemstone-about img{
    width: 300px;
    
}

.Blank-div{
    width: 80%;
}

.gu-heading{
    font-size: 3.5rem;
    padding-bottom: 10px;
}

.gu-para{
font-family: Georgia, "Times New Roman", Times, serif;

}

.gem-products-heading{
    padding-top: 20px;
    text-align: center;
    
}

.gem-products-heading p {
    
    font-size: 4rem;
    background: linear-gradient(
    90deg,
    #7a5c1e,
    #d4af37,
    #d44904,
    #d4af37,
    #f69001
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: goldShine 5s linear infinite;
}

@keyframes goldShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.gem-products {
    padding: 0 150px 30px; /* left + right padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 20px;
}

.product-image img{

    width: 300px;        /* adjust to your need */
    height: 200px;       /* controls how much gets cropped */
    object-fit: cover;   /* crop */
    object-position: 80% 30% ; /* keep center part */
    
}

.product-image img:hover{
    cursor: pointer;
    transform: translate(10px);

}

.product-name p{
    
    font-size: 1.5rem; 
}

.product-name{
    width: 280px;
    align-items: center;
    text-align: center;
}

.rating{
    width: 280px;
    text-align: center;
    
}

.rating p{
    font-size:1rem ;
}

.Price{
    margin-top: 3px;
    padding-bottom: 2px;
    width: 280px;
    text-align: center;
    background-color: rgb(234, 215, 76);
}

.hover-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
}

    .product:hover .hover-text {
    display: block;
}

.product{
    position: relative;
}

.gem-products-heading img {
    width: 800px;
}

@media (max-width : 700px) {
    .gem-products-heading img {
    width: 500px;
}
.gemstone-about{ 
    max-width: 500px;
}
    
}