.slider {
    width: 100%;
    overflow: hidden;
}

.track {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    animation: scroll 10s infinite;
}

.item {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

/* animation */
@keyframes scroll {
    0% {
    transform: translateX(0);
    }

    50%{
    transform: translateX(5%);
    }

    100% {
    transform: translateX(0);
    }
}

.city-img{
    cursor: pointer;
    border-radius: 10px;
    width: 130px;
    height: 90px;
}

.city-img:hover{
    animation: radius-change 2s forwards;
}




.city-txt{
    font-family: lobster;
}


.city-heading{
    padding-left: 10vw;
    padding-top: 10vh;
    font-size: 1.6rem;
    font-family: lobster;
}

.city-underline{
    margin-left: 13vw;
}

@keyframes radius-change {
    0%{
        border-radius: 10px;
    }
    
    
    100%{
        border-radius: 50px;
    }
    
}